
<h2 id="binary-size">Binary Size</h2>
**% require 'mruby/iv_benchmark/html_util' -%**
**% IMPLEMENTATIONS.each do |impl| -%**
**%=HtmlUtil.size_table(data_dir("bin-size"), "File", impl)-%**
**% end -%**